#homepage-hero {
  height: 420px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}


#text-section {
  margin: 10px auto;
}

// hover for main page

.actions {
  padding: 0px;
}

.bcu-thumbnail {
  position: relative;
  width: 100%;
  border: none;
  max-width: 400px;
  box-shadow: none;
}

.bcu-image {
  display: block;
  width: 100%;
  height: auto;
}

a.bcu-thumbnail:hover {
  display: grid;
  border: none;
  box-shadow: none;
}

.bcu-overlay {
  height: 100%;
}

.bcu-text {
  position: absolute;
  bottom: 4px;
  right: 4px;
  left: 4px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  /* text-align: center; */
}

.bcu-thumbnail:hover .bcu-text {
  background: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  height: 80%;
  padding-top: 2rem;
  /* text-align: left; */
}

.bcu-thumbnail:hover img {
  opacity: 0.4;
}

.bcu-search-button {
  height: 30px;
}

//hierarchy

.bcu-input {
  display: none;
}

.jstree::-webkit-scrollbar {
  display: none;
}

.jstree {
  -ms-overflow-style: none;
}

.jstree-node,
.jstree-children,
.jstree-container-ul {
  padding-right: 10px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .bcu-text {
    font-size: 0.6rem;
  }

  .bcu-thumbnail:hover .bcu-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 767px) {
  .bcu-thumbnail:hover .bcu-text {
    height: 80%;
    font-size: 1.3em;
    padding-top: 25%;
    padding-left: 10%;
  }

  .bcu-text {
    background: rgba(255, 255, 255, 0.95);
    font-size: 1.2em;
  }
}